html, body{
	background-color: #F0F0F0;
}


#site{
	width: 800px;
	margin:auto;
}

#moteur{
}


#titleRecherche{
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

#titleRecherche a{
	text-decoration: none;
}

span.title1{
	color:blue;
}

span.title2{
	color:red;
}

span.title3{
	color:green;
}

#recherche{
	text-align: center;
}
#recherche input{
	width:500px;
	height:20px;
}

#valider{
	text-align: center;
}


#astuce{
	font-size: 12px;
	text-align: center;
	margin-top: 30px;
}

#astuce a {
	text-decoration: none;
	color: red;
}

#astuce a:hover {
	color: orange;
}

#Informations_Submit
{
	text-align: center;
}

.rouge 
{
	color: red;
}

.green
{
	color: green;
}