html, body{
	background-color: #F0F0F0;
}


#site{
	width: 1100px;
	margin:auto;
}

#moteur{
}


#titleRecherche{
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

#titleRecherche a{
	text-decoration: none;
}

span.title1{
	color:blue;
}

span.title2{
	color:red;
}

span.title3{
	color:gold;
}

span.title4{
	color:green;
}

span.title5{
	color:purple;
}

#recherche{
	text-align: center;
}
#recherche input{
	width:500px;
	height:20px;
}

#valider{
	text-align: center;
}


#astuce{
	font-size: 12px;
	text-align: center;
	margin-top: 30px;
	float:right;
}

#astuce a {
	text-decoration: none;
	color: red;
}

#astuce a:hover {
	color: orange;
}

#Informations_Submit
{
	text-align: center;
}

.rouge 
{
	color: red;
}

.green
{
	color: green;
}

.orange{
	color:#F07000;
}

#Informations_Submit a
{
	text-decoration: none;
	color:blue;
	font-weight: bold;
}

#Informations_Submit a:hover{
	text-decoration: underline;
}



.Counter_Doc{
	color:grey;
	float:left;
	font-size:12px;
}


#Liste_Doc ul{
	list-style-type: none;
	float:left;
	width:450px;
	text-align: left;
}

span.Contenu_Doc{
	font-size: 12px;
}

#Contenu{
	width:1100px;
	margin: auto;
}



